---
title: Donate
description: >-
  Support Luanti with a financial contribution.
layout: base
---
{% assign langPrefix = "/" | append: lang | append: "/" %}

<main>
	<section class="section my-0">
		<div class="container">
			<h1 id="donate" class="title main-title">{{ "Donate" | i18n }}</h1>
			<div class="columns">
				<article class="column is-half content">
					<h2 class="title is-size-2" id="support-luanti">{{ "Support Luanti" | i18n }}</h2>
					<p>
						{{ "You can donate to Luanti's non-profit collective to help support and grow the project. " | i18n }}
						{{ "Luanti is a member of Open Source Europe (OSE), a non-profit based in Belgium." | i18n }}
					</p>
					<p>
						{{ "We use the Open Collective platform to collect donations." | i18n }}
						{{ "It provides a public and transparent ledger for our finances, allowing you to see where the money is going." | i18n }}
					</p>
					<p class="is-flex is-align-items-center is-gap-4">
						<a class="button is-large is-primary" href='https://opencollective.com/luanti/'>
							{{ "Donate" | i18n }}
						</a>
						<a href='https://blog.luanti.org/2025/11/05/non-profit/'>
							{{ "Read the announcement" | i18n }}
						</a>
					</p>
				</article>
				<article class="column is-half content">
					<h2 class="title is-size-2" id="goals">{{ "Goals" | i18n }}</h2>
					{% for goal in opencollective_goals %}
						<div class="mb-2">
							<label class="is-block mb-1" for="progress-{{ goal.id }}">
								<strong>{{ goal.title | i18n }}</strong>
								{% if goal.description %}
								<i class="fas fa-info-circle has-text-grey-light" title="{{ goal.description | i18n }}"></i>
								{% endif %}
								-
								€ {{ goal.value }} / € {{ goal.target}} {{ goal.suffix }}
								{% if goal.value >= goal.target %}
									<i class="fas fa-check ml-2 has-text-primary"></i>
								{% endif %}

							</label>
							<progress id="progress-{{ goal.id }}" class="progress is-primary" value="{{ goal.value }}" max="{{ goal.target }}">
								€ {{ goal.value }} / € {{ goal.target}} {{ goal.suffix }}
							</progress>
						</div>
					{% endfor %}
				</article>
			</div>
		</div>
	</section>

	<section class="section">
		<div class="container">
			<h3 class="title is-size-3" id="credits">{{ "Supporters" | i18n }}</h3>
			<noscript>
				<!-- to reduce translator burden, not making this translatable -->
				<p>
					JavaScript is required to see supporters here.
					Alternatively, you can view them on <a href="https://opencollective.com/luanti">Open Collective</a>.
				</p>
			</noscript>
			<p id="credits-loading">{{ "Loading…" | i18n }}</p>
			<div id="credits-container" class="columns is-multiline"></div>
			<script src="/assets/js/opencollective.js"></script>
		</div>
	</section>

	<section class="section">
		<div class="container">
			<h2 class="title is-size-2">{{ "Support staff and the community" | i18n }}</span></h2>

			<div class="columns is-multiline">
				{% for point in donate.community %}
					<div class="column is-one-third">
						<article class="card" style="display: flex; flex-direction: column; min-height: 100%;">
							<div class="card-content">
								<h3 class="title is-4">
									{% if point.i18n_name %}
										{{ point.name | i18n }}
									{% else %}
										{{ point.name }}
									{% endif %}
									{% if point.title %}
										<span class="is-size-5 has-text-grey has-text-weight-normal">
											({{ point.title | i18n }})
										</span>
									{% endif %}
								</h3>
								<p>
									{{ point.description | i18n }}
								</p>
							</div>
							<footer class="card-footer" style="margin-top: auto;">
								{% for pair in point.links %}
									<a class="card-footer-item" href="{{ pair[1] }}">
										{% if point.i18n_links %}
											{{ pair[0] | i18n }}
										{% else %}
											{{ pair[0] }}
										{% endif %}
									</a>
								{% endfor %}
							</footer>
						</article>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
</main>
